#!/usr/bin/env bash

# setting some import shell variables here
export VAULT_ADDR=https://vault.internal.3yourmind.com:443


# lastly enrich the session with vault data
vaultified secret/services/shared/env
